.page-wrapper__inner {
  margin: 0 auto;
  max-width: 1024px;
}

.header__logo-box {
  width: 200px;
  text-align: left;
  float: left;
}

.header__menu--right {
  margin-left: 200px;
  height: 120px;
}

.header__offers{
  margin-top: 30px;
  font-size: 1.5rem;
}

.social li,
.menu li{
  display: inline-block;
  margin-right: 20px;
}

aside {
  width: 200px;
  float: left;
}

.filter li {
  margin-top: 3px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

main {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.items-wrapper {
  flex-basis: 30%;
  border: 1px solid grey;
  text-align: center;
}

.item__image {
  width: 180px;
}

.item__name {
  font-size: 1.7rem;
}

.item__calories {
  float: left;
}

.item__price {
  float: right;
}

li a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__inner {
  margin-top: 25px;
  padding: 15px 0;
  text-align: center;
  background: #ff7c7c;
  color: white;
}

.footer__row {
  margin: 15px auto;
}

.footer__phone {
  font-size: 1.4rem;
}

.footer__callback {
  text-transform: uppercase;
  font-size: 1.2rem;
}